<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>
  <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
  <form action="/searches/new" method="post">
    <%- include('../layout/h2') %>
    <input type="text" name="search" placeholder="Enter a title or author" required>
    <fieldset  class="index-card">
      <label for="title">
        <p>Title</p>
        <input type="radio" name="search" value="title" required \>
        </label>
      </fieldset>
      <fieldset  class="index-card">
        <label for="author" class="index-card">
          <p>Author</p>
          <input type="radio" name="search" value="author" required \>
        </label>
      </fieldset>
      <button type="submit">Search the Google Books API</button>
    </form>
  </main>
</body>
</html>